.left{
    float: left;
    clear: both;
    background-color: rgb(112, 59, 227);
    border-radius: 10px;
    padding: 4px;
    color: white;
    margin: 2px;
    font-size: 1.4rem;
}
.right{
    float: right;
    clear: both;
    background-color: rgb(39, 196, 105);
    border-radius: 10px;
    padding: 4px;
    color: white;
    margin: 2px;
    font-size: 1.4rem;

}