:root{
    --bgColor:black;
    --textColor:white;
}


/* -----------header and navbar-------- */
header{
    display: grid;
    grid-template-columns:2fr 4fr 2fr ;
   
    background-color: var(--bgColor);
    padding: 1rem;
    align-items: center;
    /* background: linear-gradient(180deg,#922de9,blueviolet); */
    position: sticky;
    top: 0px;
}
.nav-icons{
    /* color: #922de9; */
    color: white;
}
.items{
    color: var(--textColor);
}
#logo{
    cursor: pointer;
    height: 30px;
    width: 5rem;
    transform: translateX(55%);
    /* border: 2px solid red; */
}
#logo>img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav>a{
    text-decoration: none;
    color: white;
    border-width: 0px;
}


#btn-area{
    /* text-align: right; */
    display: flex;
    justify-content: center;
}
.new-post-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.1rem;
    cursor: pointer;
    margin: 0px 5px;
    margin-bottom: 5px;
    display: flex;
    /* align-items: center; */
}


.active{

    border-bottom: 2px solid white;

}

@media screen and (max-width:600px) {
header{
    grid-template-columns:1fr 4fr 1fr;
}   
#logo{
    transform: translateX(0%);
    width: 3.5rem;
    height: 20px;
}
#navId{
    transform: translateX(20px);
}
}